@{
    ViewData["Title"] = "Registro";
}

<div class="container">
    <h2 class="text-center">Crear Cuenta</h2>
    <form method="post" class="needs-validation" id="formularioRegistro">
        <div class="form-group">
            <label for="UserName">Usuario:</label>
            <input type="text" class="form-control" id="UserName" name="UserName" required>
            <div class="invalid-feedback">Por favor, ingrese un nombre de usuario.

            </div>
        </div>
        <div class="form-group">
            <label for="Password">Contraseña:</label>
            <input type="password" class="form-control" id="Password" name="Password" required>
            <div class="invalid-feedback">
                Por favor, ingrese una contraseña.
            </div>
        </div>
        <!-- Puedes agregar más campos según tus necesidades, como correo electrónico, etc. -->
        <button type="submit" class="btn btn-primary">Crear Cuenta</button>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#formularioRegistro").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/Account/Register',
                    method: 'POST',
                    data: {
                        userName: $("#UserName").val(),
                        password: $("#Password").val()
                    },
                    success: function (result) {
                        window.location.href = result.redirectTo;
                    },
                    error: function (error) {
                        console.error("Error en la solicitud Ajax:", error);
                    }
                });
            });
        });
    </script>
}
